<!-- Main -->
          <article id="main">
            <header>
              <h2>About</h2>
              <p>Connecting refugees on the move with friends from their future homes.</p>
            </header>
            <section class="wrapper style5">
              <div class="inner">

                <h3>What?</h3>
                <p>Project ReConnect aims to bridge the knowledge gap between refugees and their hosting communities by connecting a refugee in transition with a local from their future home prior to their relocation. It will serve as a platform where these individuals can participate in a two-way learning experience sharing language skills and knowledge about their culture and history with each other. They will talk about civic education and issues of forced migration. By providing a communication channel, ReConnect will help facilitate the process of integration in the host country while fostering social cohesion and civism.</p>

                <p>We aim to create a network of ReConnectors worldwide who are committed to promoting acceptance, understanding, and social cohesion. Who will build more harmonious and empathetic communities embracing diversity and celebrating their differences.</p>

                <hr />

                <h3>Why?</h3>
                <p>Everyday, conflict forces thousands of families to flee their homes, to escape from violence, fear of death and consequences of war, leaving everything behind (UNHCR, 2017). Since 2015, more than a million migrants and refugees have crossed into Europe. This unprecedented influx of people sparked a crisis as countries struggled to accommodate all these individuals and families. Refugees live in constant limbo that is characterized by extreme uncertainty once they flee their countries. </p>

                <p>On the other hand, misrepresentations of migrants and refugees, vehiculated by mainstream media and populist political parties, cause social tensions between them and their host communities. A 2015 World Vision study posits that these tensions and lack of information about refugee circumstances can lead to issues such as limited access to basic goods and services, livelihood opportunities and ultimately integration is hindered by such stigmas and stereotypes toward refugees. The European Council and humanitarian aid organizations highly encourage interaction between these two communities to facilitate acceptance, tolerance, resilience, and integration.</p>

                <hr />

                <h4>How did it begin?</h4>
                <p>Project ReConnect is an initiative that developed during our Fellowship Program with the World Innovation Summit for Education (WISE) Learners' Voice Program by the Qatar Foundation. Our initial team of 8 consisted of members from Australia, Brazil, The Philippines, France, Pakistan, Uganda and Syria. As part of the program, we spent two weeks volunteering at various organizations and refugee camps in Athens, Greece in March 2017 assisting refugees and those working with them. We observed that one of the biggest challenges affecting the integration process for both local and refugee communities is the lack of interaction opportunities between them. We believe that if there is a channel that allows interaction between the newcomer community and the host communities, then this will allow for more dialogue and better understanding, giving rise to social and cultural harmony. </p>

                <p>And that is how Project ReConnect (Refugee-Connect) began.</p>

              </div>
            </section>

            <!-- Three -->
          <section id="three" class="wrapper style3 special">
            <div class="inner">
              <header class="major">
                <h2>Core Values</h2>
              </header>
              <ul class="features">
                <li class="icon fa-paper-plane-o">
                  <h3>Embracing Diversity</h3>
                  <p>Accepting and celebrating that we are all different in our own unique ways and using our differences as our strength to build stronger and more prosperous communities.</p>
                </li>
                <li class="icon fa-laptop">
                  <h3>Embodying Empathy</h3>
                  <p>Understanding and respecting that we are all products of different individual experiences that make us who we are and striving to be aware of others’ emotions and perceptions.</p>
                </li>
                <li class="icon fa-laptop">
                  <h3>Promoting Harmony</h3>
                  <p>Acknowledging and appreciating that we come from all walks of life and our collective stories help shape and enrich our vibrant and harmonious communities.</p>
                </li>
              </ul>
            </div>
          </section>

          