<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="index.html" class="logo">Project Reconnect</a>
					</header>

			

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<section class="post">
								<header class="major">
									<span class="date">April 25, 2017</span>
									<h1>This is a<br />
									Generic Page</h1>
									<p>Aenean ornare velit lacus varius enim ullamcorper proin aliquam<br />
									facilisis ante sed etiam magna interdum congue. Lorem ipsum dolor<br />
									amet nullam sed etiam veroeros.</p>
								</header>
								<div class="image main"><img src="images/pic01.jpg" alt="" /></div>
								<p>It has been an incredible 2 weeks of learning and unlearning with WISE Learners' Voice Program. It was an eye opening experience to be emerged in the issue of global force migration, both from the theoretical and practical point of view. My greatest realization in these past 2 weeks of volunteering for the refugees in Athens is that we can never fully understand the entire complexity of the issue unless we humanize it.</p>
								<p>Also, shout out to my incredible fellow learners in this year's #wiselearners cohort. You guys are amazing and also very inspirational. Having had the opportunity to interact, work and be friends with you is truly a piece of gem worth keeping. Also to the LV team who pulled off everything, thank you :) Yale World Fellows, you guys are beyond amazing! To our lecturers and guests, thank you for sharing your knowledge!</p>
								<p>As a reflection to my first residential training with WISE, here's a poem I wrote after attending the Pre-Departure Orientation conducted by the International Organization for Migration to families who will be relocated to Switzerland. The photo below is drawn by one of the kids at the Regional Asylum Office in Athens where I spent most of my days volunteering.</p>

								<blockquote>
								***
								<b>A New Toy</b> 
								</br>
								I had a big toy, it was nice and big
								Not to boast or anything but sure it was lovely
								My baba and mama really worked hard for it
								I had a big toy, oh it was nice and big
								But one day while playing, someone came in
								My big toy, so nice, was taken by him
								Then we were asked to go and flee
								To a future so uncertain, i can't even see
								Then we have crossed to a place that is new
								I miss my room, my toy, and all my friends too
								My mama assured that everything will be alright
								But i can sense otherwise, because she was saying it with fright
								While waiting for so long, I tried to build a new toy
								In a place unfamiliar, not a place for a young boy
								But what choices do I have? To whom should I get it from?
								When the big toy I used to love was already gone.
								But one day my baba woke me up with a smile
								His face was so bright, a face I haven't seen for a while
								He said we are going to a place, away from fear
								A place where I can finally build a new toy with cheer.
								Today we have finally arrived to that place
								A home? I don't know, maybe just a space
								Though there is one thing I hope and pray from today
								That hopefully I can be free again, with a new toy to play.
								</blockquote>
							</section>

					</div>