<!-- Main -->
          <article id="main">
            <header>
              <h2>Host Friend</h2>
              <p>Lead the change!</p>
            </header>
            <section class="wrapper style5">
              <div class="inner">

                <h3>Your Role</h3>
                <p>As a host friend, you will be trained to understand the concept of global forced migration and what it is like to be a refugee in 2017. After successful completion of your training modules, you will be virtually connected to a refugee in transition who will be arriving to your country in a few weeks. Your friendship will begin online prior to their departure and will continue for 4 to 6 months after your refugee friend has arrived in the country. You will begin the journey with sharing stories and learning from each other’s experiences during which time you will also be assisting your refugee friend with any queries they may have about their future home.  Where possible, you will be organising meet-ups with your friend and participate in other social activities after the arrival in the country.</p>
                <blockquote>As a host friend, your role is to support your refugee friend as he or she prepares to be relocated to your country. In many cases, you will be the only contact he or she has upon arrival in your country.</blockquote>

                <h6>Requirements</h6>
                  <ul>
                    <li>Be over 18 years of age</li>            
                    <li>Be willing to devote 1-2 hours a week to your refugee friend</li>
                    <li>Have lived in the area for over 5 years</li>
                    <li>Demonstrate empathy, proactiveness and good spirit</li> 
                    <li>Successful participation in and completion of all training modules</li>
                    <li>Has interest in Global Forced Migration issues</li>
                  </ul>

                <h6>Desirable</h6>
                 <ul>
                  <li>Experience in the field of GFM</li>
                  <li>Experience across various digital platforms</li>
                  <li>Relevant qualification</li>
                 </ul>




              </div>

              <div id="wrapper_modal">
                <!-- Trigger/Open The Modal -->
                <button id="myBtn">Apply Now</button>

                <!-- The Modal -->
                <div id="myModal" class="modal">
                  <!-- Modal content -->
                  <div class="modal-content">
                    <span class="close">&times;</span>

                    <!-- BEGIN Podio web form -->
                    <script src="https://podio.com/webforms/18730913/1260336.js"></script>
                    <script type="text/javascript">
                      _podioWebForm.render("1260336")
                    </script>
                    <noscript>
                      <a href="https://podio.com/webforms/18730913/1260336" target="_blank">Please fill out the form</a>
                    </noscript>
                      <div class="podio-webform-container">
                      Get your <a href="https://podio.com" class="podio-webform-inner" rel="nofollow">free webform</a> from Podio
                      </div>
                    <!-- END Podio web form -->

                  </div>
                </div>
              </div>
            </section>

            <!-- Three 
          <section id="three" class="wrapper style3 special">
            <div class="inner">
              <header class="major">
                <h2>Requirements</h2>
                <p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
                fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
              </header
              <ul class="features">
                <li class="icon fa-paper-plane-o">
                  <h3>Arcu accumsan</h3>
                  <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                </li>
                <li class="icon fa-laptop">
                  <h3>Ac Augue Eget</h3>
                  <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                </li>
              </ul>
            </div>
          </section>-->
        


          </article>
