
 

<div id="main-wrapper">
  <div id="main" class="main">
    <div class="container">
          </div>
    <div id="content">
        <div class="region region-content">
    <div class="panel-flexible panels-flexible-2 clearfix" >
<div class="panel-flexible-inside panels-flexible-2-inside">
<div class="panels-flexible-row panels-flexible-row-2-main-row panels-flexible-row-first clearfix hero">
  <div class="inside panels-flexible-row-inside panels-flexible-row-2-main-row-inside panels-flexible-row-inside-first clearfix">
<div class="panels-flexible-region panels-flexible-region-2-center panels-flexible-region-first panels-flexible-region-last">
  <div class="inside panels-flexible-region-inside panels-flexible-region-2-center-inside panels-flexible-region-inside-first panels-flexible-region-inside-last">
<div class="panel-pane pane-fieldable-panels-pane pane-vid-7 pane-bundle-hero pane-fpid-1"  >
  
      
  
  <div class="pane-content">
    <div class="hero-pane">
  <div class="hero-bkg" style="background-image: url(images/refugee-banner.jpg);"></div>
  <div class="hero-content">
    <div class="container">
      <h1>The Power of Volunteering</h1>
      <h2>You can make a personal difference in a newcomer's life.</h2>
       
        <div class="hero-button"><a href="/about" class="btn btn-primary">Watch Video</a></div>
          </div>
  </div>
</div>  </div>

  
  </div>
  </div>
</div>
  </div>
</div>
<div class="panels-flexible-row panels-flexible-row-2-1 clearfix home-action">
  <div class="inside panels-flexible-row-inside panels-flexible-row-2-1-inside clearfix">
<div class="panels-flexible-region panels-flexible-region-2-left panels-flexible-region-first ">
  <div class="inside panels-flexible-region-inside panels-flexible-region-2-left-inside panels-flexible-region-inside-first">
<div class="panel-pane pane-block pane-block-14"  >
  
      
  
  <div class="pane-content">
    <div class="newsletter-header">Join Us</div>
<h3>Get email updates</h3>
<div class="field-item even" property="content:encoded" id="header_mc_form"><!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
		<form action="//welcomingamerica.us4.list-manage.com/subscribe/post?u=2341523d167cf5d7851d5fb27&amp;id=e4451d0ede" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
			<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder=" Enter email" required="" /><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" /></form>
	</div>
	<!--End mc_embed_signup--></div>
  </div>

  
  </div>
  </div>
</div>
<div class="panels-flexible-region panels-flexible-region-2-right panels-flexible-region-last ">
  <div class="inside panels-flexible-region-inside panels-flexible-region-2-right-inside panels-flexible-region-inside-last">
<div class="panel-pane pane-block pane-block-12"  >
  
      
  
  <div class="pane-content">
    <div class="share_intro"><p>How does your community build bridges between refugees and long-time residents?</p></div>
<a class="btn btn-primary" href="/share-your-story">Share Your Story</a>  </div>

  
  </div>
  </div>
</div>
  </div>
</div>

<!-- Featured Stories-->
<div class="panels-flexible-row panels-flexible-row-2-2 clearfix container home-resources">
  <div class="inside panels-flexible-row-inside panels-flexible-row-2-2-inside clearfix">
    <div class="panels-flexible-region panels-flexible-region-2-center_ panels-flexible-region-first ">
      <div class="inside panels-flexible-region-inside panels-flexible-region-2-center_-inside panels-flexible-region-inside-first">
        <div class="panel-pane pane-views-panes pane-nodequeue-4-panel-pane-1"  >
  
        <h2 class="pane-title">Featured Stories</h2>
    
  
        <div class="pane-content">
          <div class="view view-nodequeue-4 view-id-nodequeue_4 view-display-id-panel_pane_1 view-dom-id-6d10ef67d26f4317e5f82da7ebf07b5c">
  
  
        <div class="view-content">
          <div>

            <article class="resource-item"> 
              <div class="resource-image"><div class="field field-name-field-training-image field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><img typeof="foaf:Image" src="images/mo_story.jpeg" width="650" height="436" /></div></div></div></div>
              <h3><a href="/resources/seeds-growth">Mohammed, Syria &rarr; Finland, 21</a></h3>
              <div class="resource-teaser"><div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p>Is your community harnessing the potential of immigrant entrepreneurs to spur economic growth and job creation?</p></div></div></div></div>
            </article>
          </div>
    </div>
  
  
  
  
  
  
</div>  </div>

  
  </div>
  </div>
</div>
<div class="panels-flexible-region panels-flexible-region-2-right__ panels-flexible-region-last ">
  <div class="inside panels-flexible-region-inside panels-flexible-region-2-right__-inside panels-flexible-region-inside-last">
<div class="panel-pane pane-views-panes pane-nodequeue-4-panel-pane-2"  >
  
      
  
  <div class="pane-content">
    <div class="view view-nodequeue-4 view-id-nodequeue_4 view-display-id-panel_pane_2 view-dom-id-4467efb8d2f21239d171cb423cfa88a2">
        
  
  
      <div class="view-content">
        <div class="row">
    <div class="featured-resource-list-item">
  <div class="col-xs-3"> 
    <div class="resource-image"><div class="field field-name-field-training-image field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><div id="file-993" class="file file-image file-image-jpeg">

        <h2 class="element-invisible"><a href="/file/20120822welcomingamerica0428-squarejpg">20120822_WelcomingAmerica_0428 Square.jpg</a></h2>
    
  
  <div class="content">
    <img typeof="foaf:Image" src="http://www.welcomingrefugees.org/sites/default/files/images/resources/20120822_WelcomingAmerica_0428%20Square.jpg" width="1999" height="1999" alt="" />  </div>

  
</div>
</div></div></div></div>
  </div>
  <div class="col-xs-9">
    <h3><a href="/resources/reframing-refugees-messaging-toolkit">Reframing Refugees Messaging Toolkit</a></h3>
    <div class="resource-teaser"><div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p>This message toolkit is designed to help people working with and on behalf of recent refugees to deliver strong messages that will encourage community leaders and policy makers to take action to support refugees in their area.</p>
</div></div></div></div>
  </div>
</div>
        </div>
  <div class="row">
    <div class="featured-resource-list-item">
  <div class="col-xs-3"> 
    <div class="resource-image"><div class="field field-name-field-training-image field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><div id="file-994" class="file file-image file-image-png">

        <h2 class="element-invisible"><a href="/file/stronger-together-portraitpng">Stronger Together Portrait.png</a></h2>
    
  
  <div class="content">
    <img typeof="foaf:Image" src="http://www.welcomingrefugees.org/sites/default/files/images/resources/Stronger%20Together%20Portrait.png" width="200" height="200" alt="" />  </div>

  
</div>
</div></div></div></div>
  </div>
  <div class="col-xs-9">
    <h3><a href="/resources/stronger-together-making-case-shared-prosperity-through-welcoming-immigrants-our">Stronger Together: Making the Case for Shared Prosperity Through Welcoming Immigrants In Our Communities</a></h3>
    <div class="resource-teaser"><div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p>This tool is intended to help advocates for immigrant integration communicate how welcoming our immigrant neighbors can be a force for economic growth.</p>
</div></div></div></div>
  </div>
</div>
        </div>
    </div>
  
  
  
  
      <div class="view-footer">
      <a href="/resources" class="read-more" title="More Resources">More Resources</a>    </div>
  
  
</div>  </div>

  
  </div>
  </div>
</div>
  </div>
</div>
<div class="panels-flexible-row panels-flexible-row-2-3 clearfix ">
  <div class="inside panels-flexible-row-inside panels-flexible-row-2-3-inside clearfix">
<div class="panels-flexible-region panels-flexible-region-2-one panels-flexible-region-first panels-flexible-region-last full-width">
  <div class="inside panels-flexible-region-inside panels-flexible-region-2-one-inside panels-flexible-region-inside-first panels-flexible-region-inside-last">

   <!-- Gray Call to Action -->
  <div class="panel-pane pane-custom pane-1 gray-bkg home-events"  >
    <div class="pane-content">
      <div class="row"><div class="col-sm-6"><h2 class="upcoming-events">Upcoming Events</h2></div><div class="col-sm-6"><a href="/upcoming-events" class="btn btn-default">View the Calendar</a></div></div>  
    </div>  
  </div>


  </div>
</div>
  </div>
</div>
<div class="panels-flexible-row panels-flexible-row-2-4 panels-flexible-row-last clearfix container">
  <div class="inside panels-flexible-row-inside panels-flexible-row-2-4-inside panels-flexible-row-inside-last clearfix">
<div class="panels-flexible-region panels-flexible-region-2-three panels-flexible-region-first panels-flexible-region-last full-width">
  <div class="inside panels-flexible-region-inside panels-flexible-region-2-three-inside panels-flexible-region-inside-first panels-flexible-region-inside-last">
<div class="panel-pane pane-views-panes pane-nodequeue-3-panel-pane-1"  >
  
        <h2 class="pane-title">
      Promising Practices    </h2>
    
  
  <div class="pane-content">
    <div class="view view-nodequeue-3 view-id-nodequeue_3 view-display-id-panel_pane_1 view-dom-id-f6f378ec780f4c01a26e4c266450368a">
        
  
  
      <div class="view-content">
        <div class="views-responsive-grid views-responsive-grid-horizontal views-columns-3 row">
      <div class="views-row views-row-1 views-row-first">
      <div class="col-sm-4 views-column-1">
      


  <article id="node-199" class="node node-story clearfix" about="/stories/how-refugees-helped-struggling-ga-grocery-store-succeed" typeof="sioc:Item foaf:Document">

    
        
    <span property="dc:title" content="How Refugees Helped a Struggling Ga. Grocery Store Succeed" class="rdf-meta element-hidden"></span>
    
    <div class="content">
      <div class="field field-name-field-image field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><a href="/stories/how-refugees-helped-struggling-ga-grocery-store-succeed"><img typeof="foaf:Image" src="http://www.welcomingrefugees.org/sites/default/files/styles/stories_teaser/public/Clarkston_Thriftown_2_0.JPG?itok=Y5fruwTP" width="400" height="300" /></a></div></div></div><div class="field field-name-title-field field-type-text field-label-hidden"><div class="field-items"><div class="field-item even"><h2><a href="/stories/how-refugees-helped-struggling-ga-grocery-store-succeed">How Refugees Helped a Struggling Ga. Grocery Store Succeed</a></h2>
</div></div></div><div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p>By embracing the needs of refugees in his community, a Georgia grocery store owner gained loyal customers, turned his business around, and created a sense of community. His story highlights the benefits of embracing the diversity and strengths of recently arrived refugees.</p>
</div></div></div>    </div>

    
    
  </article>

  

    </div>
      <div class="col-sm-4 views-column-2">
      


  <article id="node-198" class="node node-story clearfix" about="/stories/impact-refugees-central-ohio" typeof="sioc:Item foaf:Document">

    
        
    <span property="dc:title" content="Impact of Refugees in Central Ohio" class="rdf-meta element-hidden"></span>
    
    <div class="content">
      <div class="field field-name-field-image field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><a href="/stories/impact-refugees-central-ohio"><img typeof="foaf:Image" src="http://www.welcomingrefugees.org/sites/default/files/styles/stories_teaser/public/Impact%20of%20Refugees%20in%20Central%20Ohio.png?itok=ZCOjcKWt" width="400" height="300" /></a></div></div></div><div class="field field-name-title-field field-type-text field-label-hidden"><div class="field-items"><div class="field-item even"><h2><a href="/stories/impact-refugees-central-ohio">Impact of Refugees in Central Ohio</a></h2>
</div></div></div><div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p>This engaging report is filled with facts, statistics, and stories that confirm the significant social and economic contributions that refugees make to their new communities.</p></div></div></div>    </div>

    
    
  </article>

  

    </div>
      <div class="col-sm-4 views-column-3">
      


  <article id="node-197" class="node node-story clearfix" about="/stories/syrian-refugees-connecticut-helping-hand-private-volunteers" typeof="sioc:Item foaf:Document">

    
        
    <span property="dc:title" content="For Syrian Refugees In Connecticut, A Helping Hand From Private Volunteers" class="rdf-meta element-hidden"></span>
    
    <div class="content">
      <div class="field field-name-field-image field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><a href="/stories/syrian-refugees-connecticut-helping-hand-private-volunteers"><img typeof="foaf:Image" src="http://www.welcomingrefugees.org/sites/default/files/styles/stories_teaser/public/conn-refugees.jpg?itok=Y9DovhqW" width="400" height="300" /></a></div></div></div><div class="field field-name-title-field field-type-text field-label-hidden"><div class="field-items"><div class="field-item even"><h2><a href="/stories/syrian-refugees-connecticut-helping-hand-private-volunteers">For Syrian Refugees In Connecticut, A Helping Hand From Private Volunteers</a></h2>
</div></div></div><div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p>A new program in Connecticut is pairing refugees with private citizens. Community groups across Connecticut have resettled 28 Syrian families - more than 150 refugees in total. The groups are trained by a resettlement agency and handle everything from legal requirements to medical checkups.</p>
</div></div></div>    </div>

    
    
  </article>

  

    </div>
    </div>
    </div>
    </div>
  
  
  
  
  
  
</div>  </div>

  
  </div>
  </div>
</div>
  </div>
</div>
</div>
</div>
  </div>
    </div>
  </div> <!-- /#main -->
</div> <!-- /#main-wrapper -->

