<!-- Main -->
          <article id="main">
            <header>
              <h2>Newcomer</h2>
              <p>Welcome to your new community!</p>
            </header>
            <section class="wrapper style5">
              <div class="inner">
                <ul>
                  <li>Have you received your notice of relocation?</li>
                  <li>Do you know which country you will be relocated to?</li>
                  <li>Would you like to be connected with a friend from your future home?</li>
                </ul>
                <p>If you answered “yes” to all of the above then you are at the right place.</p>
                <p>By participating in Project ReConnect, you will be connected with a friend from your future home who has undertaken training in the field of global forced migration. Your friendship will begin online prior to your departure and will continue for 4 to 6 months after you have arrived in the country. You will begin the journey with sharing stories and learning from each other’s experiences during which time your host friend can also assist you with any questions you may have about your future home.  After your arrival in the country, where possible, you will meet up with your friend regularly and also participate in other social activities.</p>
                <blockquote>
                Moving to a new country is challenging. What is the food like? How is the weather? What is the history of this place?
                </blockquote>
                <p>We want to help you feel prepared for this transition! Once you sign up, you will be connected to a friend who lives in your new host community, who will teach you about the local culture and language and more! Most importantly, they will be your friend for all the occasions!</p>

              </div>

              <div id="wrapper_modal">
                <!-- Trigger/Open The Modal -->
                <button id="myBtn">Apply Now</button>

                <!-- The Modal -->
                <div id="myModal" class="modal">
                  <!-- Modal content -->
                  <div class="modal-content">
                    <span class="close">&times;</span>

                    <!-- BEGIN Podio web form -->
                    <script src="https://podio.com/webforms/18838491/1267902.js"></script>
                    <script type="text/javascript">
                      _podioWebForm.render("1267902")
                    </script>
                    <noscript>
                      <a href="https://podio.com/webforms/18838491/1267902" target="_blank">Please fill out the form</a>
                    </noscript>
                     <!-- END Podio web form -->
                  </div>
                </div>
              </div>

            </section>


          </article>


            
         
