<!-- Main -->
	<article id="main">
		<header>
		  <h2>Support us!</h2>
		  <p>Help us further our mission!</p>
		</header>

		<section class="wrapper style5">
        	<div class="inner">
        	<h3>How to help?</h3>
                <p>Our Refugee Shirt is now available in XS, S, M, L, and XL for only Php. 350 (orders within Philippines) and $10 internationally. Shipping fee is not included.</p>
				<p>For orders, kindly submit the form below. We will communicate with your directly.</p>
				<p>Project ReConnect is a non-profit organization. All profits go towards sustaining and improving the services provided by ReConnect.</p>

				<hr />
        	</div>
        </section>
     </article>



	<div id="tshirtform">
		<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdbl58hsmVIjUv6ZXudhtyxwNFVrsw_GE5zLgBv5-n0vqRWRQ/viewform?embedded=true" width="100%" height="400" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
	</div>